body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(2, 6, 10);
  background-image: image('img/back.jpg');
}

.header {
  border: 2px solid red;
  background-color: rgb(46, 70, 11);
  height: 34px;
}

.head{
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 12px;
  position: sticky;
  top: 0px;
}

#left{
  border: 2px solid black;
 
}

#center{
  border: 2px solid blue;
  
}

#right{
  border: 2px solid yellow;
  
}
