body {
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(2, 6, 10); */
  background-image: url('img/back.jpg');
  color: white;
  height: 111111px;
}

.header {
  border: 2px solid red;
  padding: 5px;
  margin: 20px 3px;
  background-color: rgba(46, 70, 11, 0.28);
  height: 50px;
  border-radius: 10px;
  position: sticky;
  top: 0px;

}

.head{
  display: inline-block;
  position: sticky;
  top: 15px;
}

#left{
  position: absolute;
  left:20px;
  border: 2px solid black;
}

#center{
  display:block;
  width: 50%;
  height: auto;
  margin: auto;
  border: 2px solid blue;
  
}

#right{
  position: absolute;
  right: 20px;
  border: 2px solid yellow;
  
}
.navbar{
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.navbar li{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  
}
.navbar li a{
  display: inline-block;
  margin: 0px 13px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover{
 color: aqua;
 text-decoration: underline;
}